.bg-img {
	background-image: url(../img/glasses.jpg);
	height: 100%;
	/*background-position: center;*/
	background-repeat: no-repeat;
	background-size: 1000px 1000px;
}

h1 {
	font-family: 'Luckiest Guy', cursive;
	color: white;
	line-height: 10px;
}

h4 {
	font-family: 'Rock Salt', cursive;
	color: white;
	font-weight: lighter;
}
